{{^nothing}}
    <strong>Die letzten Beiträge im Forum deiner Gruppe</strong>
    {{#default}}
        <div class="guide-wrapper">
            <div class="guide-panel fullwidth">
                <p>{{{text}}}</p>
            </div>
        </div>
    {{/default}}

    {{#guide}}
        <div class="guide-wrapper">
            <div class="guide-panel {{panel}} fullwidth">
                <p>{{{text}}}</p>
            </div>
        </div>
    {{/guide}}

    {{#mirroring}}
        <div class='bar-graph' id='dc-post-chart'></div>
    {{/mirroring}}
{{/nothing}}