{{^nothing}}
    <strong>Die letzten Beiträge im Forum deiner Gruppe</strong>
    {{#default}}
        <div class="guide-wrapper">
            <div class="guide-panel">
                <p>{{{text}}}</p>
            </div>
            <div class="guide-icon">
                <img src="https://moodle.ikarion-projekt.de/oncampus/Agent-2-noadvice.svg" alt="Guide">
            </div>
        </div>
    {{/default}}

    {{#guide}}
        <div class="guide-wrapper">
            <div class="guide-panel {{panel}}">
                <p>{{{text}}}</p>
            </div>
            <div class="guide-icon">
                <img src="https://moodle.ikarion-projekt.de/oncampus/Agent-2-advice.svg" alt="Guide">
            </div>
        </div>
    {{/guide}}

    {{#mirroring}}
        <div class='bar-graph' id='dc-post-chart'></div>
    {{/mirroring}}
{{/nothing}}