.block_grouplatency .guide-wrapper {
    margin: 15px 0 0;
    position: relative;
}

.block_grouplatency .guide-panel {
    padding: 5px 20px 5px 5px;
    background-color: #fff;
    border: solid grey;
    border-width: 5px 2px 1px;
    color: #444;
    width: 75%;
}

.block_grouplatency .guide-panel.fullwidth {
    width: 100%;
}

.block_grouplatency .guide-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85px;
}

.block_grouplatency .guide-panel.red {
    border: solid #c1282f;
    color: #444;
}

.block_grouplatency .guide-panel.orange {
    border: solid #f4972b;
    color: #444;
}

.block_grouplatency .guide-panel.green {
    border: solid #149346;
    color: #444;
}

.block_grouplatency #grouplatency label span {
    margin-left: 15px;
}

.block_grouplatency .axis.y {
    display: none;
}

.block_grouplatency #dc-post-chart {
    margin: 15px auto 0;
    width: 100%;
    min-height: 8px;
    height: auto;
    border-top: 1px solid grey;
}

.block_grouplatency .axis {
    height: 20px;
}

.block_grouplatency.block .content {
    padding: 15px;
}

.block_grouplatency .grouplatency-wrapper .loading {
    text-align: center;
    font-size: 40px;
}

.block_grouplatency p,
.block_grouplatency .latency-label,
.block_grouplatency #dc-latency-chart,
.block_grouplatency .prompt {
    margin-bottom: 15px !important;
}

.block_grouplatency #dc-latency-table {
    margin: 0;
}

.block_grouplatency #dc-latency-table tr td,
.block_grouplatency #dc-latency-table tr th {
    padding: 0 5px 5px 0;
}

.block_grouplatency #dc-latency-table .dc-table-group {
    display: none;
}

.block_grouplatency #dc-latency-chart .custom-brush-handle {
    fill: #eee;
    stroke: #666;
    cursor: ew-resize;
}

.block_grouplatency .prompt-header {
    padding: 5px 5px 5px 10px;
}

.block_grouplatency .prompt-content {
    padding: 5px;
}

.block_grouplatency #dc-latency-chart .overlay,
.block_grouplatency #dc-latency-chart .selection {
    stroke: #7E7E7F;
    stroke-width: 2px;
}

.block_grouplatency .table-rect {
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 6px;
    margin-bottom: 5px;
}

.block_grouplatency #pagination {
    text-align: center;
    margin-top: 15px;
}

.block_grouplatency #pagination a {
    border: solid 1px #275e8f;
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.block_grouplatency .prompt-header {
    cursor: pointer;
}