.block_grouplatency .guide-wrapper {
    margin: 15px 0 0;
    position: relative;
}

.block_grouplatency .guide-panel {
    padding: 5px 20px 5px 5px;
    background-color: #fff;
    border: solid grey;
    border-width: 5px 2px 1px;
    color: #444;
    width: 75%;
}

.block_grouplatency .guide-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85px;
}

.block_grouplatency .guide-panel.red {
    border: solid #c1282f;
    color: #444;
}

.block_grouplatency .guide-panel.orange {
    border: solid #f4972b;
    color: #444;
}

.block_grouplatency .guide-panel.green {
    border: solid #149346;
    color: #444;
}

.block_grouplatency #grouplatency label span {
    margin-left: 15px;
}

.block_grouplatency .axis.y {
    display: none;
}

.block_grouplatency #dc-post-chart {
    margin: 20px auto 0;
    width: 100%;
    min-height: 8px;
    height: 100%;
    border-top: 1px solid grey;
}

.block_grouplatency svg {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.block_grouplatency svg:first-of-type {
    padding-top: 6px;
}

.block_grouplatency svg.border {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.block_grouplatency .axis {
    height: 20px;
}

.block_grouplatency text.answer-icon {
    font-size: 14px;
    cursor: pointer;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    background: #fff;
    color: #003560;
    border: 0;
    pointer-events: none;
}

.block_grouplatency #dc-table-graph {
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
    width: inherit;
    max-width: inherit;
}

.block_grouplatency .overdue-text {
    font-weight: bold;
}