.block_groupactivity .guide-wrapper {
    margin: 15px 0 0;
    position: relative;
}

.block_groupactivity .guide-panel {
    padding: 5px 20px 5px 5px;
    background-color: #fff;
    border: solid grey;
    border-width: 5px 2px 1px;
    color: #444;
    width: 75%;
}

.block_groupactivity .guide-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85px;
}

.block_groupactivity .guide-panel.red {
    border: solid #c1282f;
    color: #444;
}

.block_groupactivity .guide-panel.orange {
    border: solid #f4972b;
    color: #444;
}

.block_groupactivity .guide-panel.green {
    border: solid #149346;
    color: #444;
}

.block_groupactivity #dc-table-graph {
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
    width: inherit;
    max-width: inherit;
}

.block_groupactivity #dc-table-graph td {
    vertical-align: middle;
}

.block_groupactivity #dc-activity-chart {
    margin-top: 20px;
    position: relative;
    height: 270px;
}

.block_groupactivity #dc-activity-chart svg {
    border-bottom: 1px solid grey;
    position: absolute;
}

.block_groupactivity #dc-activity-chart .user-symbols {
    position: absolute;
    bottom: 0;
    color: #003560;
}

.block_groupactivity #dc-table-graph th {
    border-bottom: 2px solid;
    border-color: #808080;
}

.block_groupactivity #dc-table-graph tbody tr:last-child {
    border-top: 2px solid;
    border-color: #808080;
}

.block_groupactivity .user-symbol {
    color: #003560;
    padding-right: 10px;
}

.block_groupactivity .choices {
    text-align: center;
}