.block_groupactivity .guide-wrapper {
    margin: 15px 0 0;
    position: relative;
}

.block_groupactivity .guide-panel {
    padding: 5px 20px 5px 5px;
    background-color: #fff;
    border: solid grey;
    border-width: 5px 2px 1px;
    color: #444;
    width: 75%;
}

.block_groupactivity .guide-panel.fullwidth {
    width: 100%;
}

.block_groupactivity .guide-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85px;
}

.block_groupactivity .guide-panel.red {
    border: solid #c1282f;
    color: #444;
}

.block_groupactivity .guide-panel.orange {
    border: solid #f4972b;
    color: #444;
}

.block_groupactivity .guide-panel.green {
    border: solid #149346;
    color: #444;
}

.block_groupactivity #dc-activity-chart .bar-graph svg {
    border-bottom: 1px solid grey;
}

.block_groupactivity #dc-activity-graph th {
    border-bottom: 2px solid;
    border-color: #808080;
    padding: 0 3px 5px 0;
}


.block_groupactivity #dc-activity-graph tbody tr:last-child {
    border-top: 2px solid;
    border-color: #808080;
}

.block_groupactivity #dc-activity-graph tbody tr:last-child td {
    padding-top: 5px;
}

.block_groupactivity #dc-activity-graph .fa.fa-times {
    color: #AEAEAE;
}

.block_groupactivity #dc-activity-graph tr td {
    padding: 0 5px 0 0;
}

.block_groupactivity #dc-activity-chart .user-symbols {
    color: #003560;
}

.block_groupactivity .user-symbol {
    color: #003560;
    font-weight: bold;
}

.block_groupactivity .choices {
    text-align: center;
    margin-top: 15px;
}

.block_groupactivity.block .content {
    padding: 15px;
}

/* New items */
.block_groupactivity .groupactivity-wrapper .loading {
    text-align: center;
    font-size: 40px;
}

.block_groupactivity .btn.btn-secondary {
    width: 100%;
    margin: 0;
}

.block_groupactivity .btn.btn-secondary,
.block_groupactivity p,
.block_groupactivity .legend-graph,
.block_groupactivity .user-symbols,
.block_groupactivity #dc-activity-chart {
    margin-bottom: 15px !important;
}

.block_groupactivity #dc-activity-graph {
    margin-bottom: 0 !important;
}

table.self-assess-table {
    margin-bottom: 20px;
    width: 100%;
}

table.self-assess-table td {
    vertical-align: top;
}

table.self-assess-table td:first-child {
    width: 5%;
}

table.self-assess-table tr:not(:first-child) td {
    padding-top: 10px;
}

.block_groupactivity #open-self-assess-modal {
    background-color: #7E7E7F;
    color: #fff;
}

.block_groupactivity .table-rect {
    width: 11px;
    height: 11px;
    margin-top: 4px;
}